//main
.banner {
    width: 100%;
    margin-bottom: 30px;
}
.banner-bk {
    height: 550px;
    background-position: center;
    background-size: cover;
}



//content 

.banner-content {
    color: $white;
    font-weight: $font-weight--bold;
    text-align: center;
    width: 100%;
    height: 550px;
    // justify-content: center;
    // background-color: rgba(0, 0, 0, .3);
    @include mq(large) {
        text-align: start;
    }
}
.banner-content h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-top: 0;
    @include mq(large) {
        font-size: 3.5rem;
        line-height: 5rem;
    }
}

.banner-content p {
    font-size: 1.1rem;
    margin-top: 0;
    padding-bottom: 10px;
    @include mq(large) {
        font-size: 1.8rem;
        line-height: 3rem;
        padding-bottom: 0;
    }
}

.banner-text {
  margin: auto;
}

// nav dots
