
//newsletter form

.newsletter-container {
    background: $light-grey;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $dark-grey;
}

.sign-up {
    &{
        h2{
            display: inline-block;
            font-size: 2rem;
            font-weight: $font-weight--light;
            margin: 0;
            padding: 5px;
        }
    }
}

// beginning of flexbox

.sign-up-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    @include mq(large) {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
}

//email and name fields 


.input-heading {
    display: inline-block;
    font-weight: $font-weight--bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.input-style {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    @include mq(large) {
        margin-right: 20px;
        max-width: 570px;
    }
}

.form-input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 1.4rem;
    padding: 5px 15px;
    border: 1px solid darken($light-grey, 20%);
    border-radius: 2px;
    box-shadow: inset 0 0 3px darken($light-grey, 10%);
}

//tick box and media

.marketing-checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
}

.check-box {
    min-width: 50px;
    width: 35px;
    height: 35px;
    margin-left: 0;
    border-color: $dark-grey;
    cursor: pointer;
    &:checked {
        accent-color: $dark-grey;
    }
}

.media {
    font-size: 1rem;
    font-weight: $font-weight--bold;
    line-height: 1.8rem;
}

.media a {
    color: $dark-grey;
    text-decoration: underline;
    &:hover {
        color: $black-grey;
    }
}