//main 

.homepage-background {
    background-color: $dark-grey;
    color: $white;
}

.homepage-content {
    padding: 40px 0;
    @include mq(large) {
        display: flex;
        flex-direction: row;
        padding-bottom: 80px;
    }
}

.large-h2 {
    font-size: 2.3rem;
    line-height: 3rem;
    margin-top: 20px;
}

//welcome 

.welcome {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: $font-weight--light;
    margin-right: 20px;
    &{
        p{
            margin-bottom: 20px;
        }
    }
}

.bold {
    font-weight: $font-weight--bold;
}

.welcome-btn {
    & {
        a {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 15px;
        }
    }
    @media (min-width: $break--med) and (max-width: $break--lrg) {
        display: flex;
        flex-direction: row;
    }
    @include mq(x-large) {
        display: flex;
        flex-wrap: wrap;
    }
}

// client reviews
.review {
    flex: 1;
}
.stars {
    font-size: 45px;
    margin-bottom: 30px;
}
.client-quote {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: $font-weight--bold;
    font-style: italic;
    margin-bottom: 30px;
}
.quote-author {
    font-size: 1.1rem;
    font-weight: $font-weight--bold;
    color: $grey;
    margin-bottom: 30px;
    & {
        a{
            text-decoration: none;
            &:hover {
                text-decoration: underline;
              }
            &:visited {
                text-decoration: underline;
                color: $white;
             }
        }
    }
}