//main

.headings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $dark-grey;
    margin: 30px 0;

}

.heading-top {
    font-size: 1.5rem;
}

.view-all-top {
    font-size: 1.4rem;
    &{
        a{
            text-decoration: none;
            @extend %action;
        }
    }

}


//articles

.article-container  {
    position: relative;
    border: 1px solid $light-grey;
    border-radius: 3px;
    margin-bottom: 40px;
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, 0.05);
    transition: .5s ease;
}

.article-container:hover {
    transform: translateY(-10px);
    transition: .5s ease;
}

.article-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
// image

.article-image {
    position: relative;
  &{
    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
  }
}
}


//text block and button

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    color: $grey ;
    font-size: 0.8rem;
    line-height: 1.4rem;
    & {
        p {
            margin-top: 0;
            margin-bottom: 30px;
            min-height: 80px;
        }
    }
}
.block-text {
    flex: 2;
    min-height: 200px;
}
.user {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    &{
        strong {
            color: $dark-grey;
        }
    }
}

.notables h3 {
    color: $blue-grey;
    font-size: 1rem;
    line-height: 1.4rem;
    min-height: 3rem;
    font-weight: $font-weight--bold;
    margin-top: 0;
}

.avatar {
    margin-right: 30px;
    width: 60px;
    & {
        img {
            border-radius: 50%;
        }
    }
}


//second article



.insights h3 {
    color: $blue-grey;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: $font-weight--bold;
    margin-top: 0;
}
//third article 

.digital h3 {
    color: $digital;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: $font-weight--bold;
    margin-top: 0;
}

// layout 


.news-articles {
    @extend %center;
    display: grid;
    grid-template-columns: auto;
    column-gap: 30px;
    @include mq(medium) {
        grid-template-columns: 50% 50%;
    }
    @include mq(x-large) {
        grid-template-columns: 33% 33% 33%;
    }
}
 
#hide {
    @media (min-width: $break--med) and (max-width: $break--x-lrg) {
        display: none;
    }
}

// view all

.view-all {
    font-size: 1.4rem;
    text-align: center;
    color: $dark-grey;
    & {
        a{
            text-decoration: none;
            @extend %action;
        }
        h3{
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}




